.tb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.tb > Table {
    width: 90vw !important;
}

td {
    cursor: pointer;
}

input {
    border-radius: 5%;
    margin: 0 0.1rem !important;
    border: 1pt solid black;
}